.App {
  background: #c3f3f7;
  font-family: "Noto Serif", serif;
}
.App .Container {
  max-width: 960px;
  margin: 0 auto;
}
.App .Container .App-header {
  text-align: center;
}
.App .Container .App-header .App-logo {
  max-width: 400px;
}
.App .Container .App-header h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: #11556b;
  margin: 0 0 30px 0;
}
.App .Container footer {
  padding-bottom: 15px;
}
.App .Container footer a {
  color: #05a1b2;
}
