.Phonetics {
  text-align: left;
}

.Phonetics #Text {
  font-size: 22px;
  color: #757575;
  margin-right: 30px;
}

.Phonetics a #Audio {
  text-decoration: none;
}
.Phonetics img.Audio-icon {
  max-width: 80px;
}
@media (max-width: 992px) {
  .Phonetics #Text {
    font-size: 18px;
  }
  .Phonetics img.Audio-icon {
    max-width: 70px;
  }
}
