.Results section h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #11556b;
  margin: 0;
}
@media (max-width: 992px) {
  .Results section h2 {
    font-size: 24px;
  }
}
