.SearchForm h2 {
  text-align: left;
  font-style: italic;
  font-size: 24px;
}

.SearchForm section {
  background: #ffffff;
  padding: 30px;
  border: 1px solid #05a1b2;
  border-radius: 8px;
  margin: 20px 0;
}

.SearchForm #SearchBar {
  width: 90%;
  padding: 15px 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 20px;
}
.SearchForm #SearchBar:focus {
  border: 0.5px solid;
  outline-color: #ffab81;
}

.SearchForm #SearchButton {
  width: 10%;
  padding: 15px 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 20px;
}

.SearchForm #SearchButton:hover {
  color: #05a1b2;
  background: #ffffff;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
@media (max-width: 992px) {
  .SearchForm h2 {
    font-size: 20px;
  }
  .SearchForm section {
    padding: 25px;
    margin: 15px 0;
  }
  .SearchForm #SearchBar,
  .SearchForm #SearchButton {
    font-size: 16px;
    padding: 10px 5px;
  }
}
@media (max-width: 768px) {
  .SearchForm #SearchBar {
    width: 85%;
  }
  .SearchForm #SearchButton {
    width: 15%;
  }
}
@media (max-width: 576px) {
  .SearchForm h2 {
    font-size: 18px;
  }
  .SearchForm section {
    padding: 20px;
    margin: 10px 0;
  }
  .SearchForm #SearchBar {
    width: 80%;
  }
  .SearchForm #SearchButton {
    width: 20%;
  }
}
