.SearchForm h2 {
  text-align: left;
  font-style: italic;
}

.SearchForm section {
  background: #ffffff;
  padding: 30px;
  border: 1px solid #0097a7;
  border-radius: 8px;
  margin: 20px 0;
}

.SearchForm #SearchBar {
  width: 90%;
  padding: 8px 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.SearchForm #SearchBar:focus {
  border: 1px solid #bdbdbd;
  outline-color: #bdbdbd;
}

.SearchForm #SearchButton {
  width: 10%;
  padding: 8px 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.SearchForm #SearchButton:hover {
  color: #00bcd4;
  font-weight: 600;
  background: #ffffff;
  cursor: pointer;
  transition: ease-in-out 150ms;
}
